@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --black-color: #151515;
  --brown-color: #d5966c;
  --white-color: #fff;
}

html {
  font-size: 22px;
}

body {
  font-family: "Outfit", "Arial", sans-serif;
  color: var(--black-color);
}

p {
  line-height: 1.45rem;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Big Shoulders Display", "Lucida Calligraphy", cursive;
}
header {
  display: flex;
}
#header-img {
  width: 45vw;
  height: 100vh;
}

h1 {
  position: absolute;
  top: 11.8125rem;
  left: 13.6rem;
  font-size: 4.3rem;
  line-height: 4rem;
  background-image: linear-gradient(
    90deg,
    var(--white-color) 0,
    var(--white-color) 3em,
    var(--black-color) 3em,
    var(--black-color) 5em
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pre-black {
  background-color: var(--black-color);
  width: 38vw;
  height: 100vh;
}
.head-para {
  position: absolute;
  top: 8.8125rem;
  left: 47.6rem;
  width: 15.625rem;
}
.head-button {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 18.8125rem;
  left: 47.6rem;
  width: 12.625rem;
  height: 3.375rem;
  background-color: var(--black-color);

  text-decoration: none;
}
#loc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brown-color);
  height: 100%;
  width: 30%;
}
#locp {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: var(--white-color);
}
.first-article {
  display: flex;
  margin-top: 3.125rem;
  width: 100vw;
  justify-content: space-between;
}
#first-content {
  margin-left: 10.9375rem;
  margin-top: 3.125rem;
}
h3 {
  font-size: 2.5rem;
}
#pcontent {
  font-size: 1rem;
}
#first-content {
  width: 12.5rem;
  height: 12.5rem;
}
#first__img {
  width: 34.375rem;
  height: 25rem;
}
.second__article {
  display: flex;
  margin-top: 3.125rem;
  justify-content: space-between;
}
#second__img {
  width: 48vw;
  height: vh;
  margin-left: 10.9375rem;
  border: 0.125rem solid var(--white-color);
}
.final {
  width: 34vw;
}

#third__img {
  width: 33vw;
}

#pid {
  width: 20vw;
}
.footer__tag {
  width: 11vw;
  font-size: 1.6rem;
}
#last__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.4rem;
  background-color: var(--black-color);
  color: var(--white-color);
  height: 48vh;
  width: 33vw;
}
#pid {
  margin-top: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black-color);
  height: 25vh;
  width: 100vw;
  color: var(--white-color);
}
.footer__para {
  width: 33vw;
}
.footer__logo a {
  padding: 0.2rem;
  fill: var(--white-color);
  text-decoration: none;
}
